.main-card{
    height:1000px;
    width:1500px;
    border: 3px solid white;
    background-color: black;
    display: flex;
    justify-content: right;
justify-content: space-around;
}
.card1{
    height: 300px;
    width: 300px;
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.card1:hover{
    cursor: pointer;
}

.card2{
    height: 300px;
    width: 300px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);

}

.card2:hover{
    cursor: grab;
}

.card3{
    height: 300px;
    width: 300px;
    background-color: red;
    /* background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
    transition: background-color 0.6s ease-in;
  

}

.card3:hover{
   
    background-color: bisque;
    scale: 1.5;
}
.card4{
    height: 300px;
    width: 300px;
    background-color: blueviolet;
    /* background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
    transition: background-color 0.3s ease-in;

}

.card4:hover{
   
    background-color: orange;
    transform: rotate(40deg);
    scale: 0.5;
}